# **1. Retrieving data from Webpage**

In [1]:
import requests
website_url = 'http://web.archive.org/web/20240401160228/https://en.wikipedia.org/wiki/DAX'

In [2]:
response = requests.get(website_url)
print(response.status_code == requests.codes.ok)

True

In [3]:
response.text[:1530]

'<!DOCTYPE html>\n<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-custom-font-size-clientpref-0 vector-feature-client-preferences-disabled vector-feature-client-prefs-pinned-disabled vector-feature-night-mode-disabled skin-theme-clientpref-day vector-toc-available" lang="en" dir="ltr">\n<head><script type="text/javascript" src="https://web-static.archive.org/_static/js/bundle-playback.js?v=Hk4-lkW3" charset="utf-8"></script>\n<script type="text/javascript" src="https://web-static.archive.org/_static/js/wombat.js?v=txqj7nKC" charset="utf-8"></script>\n<script>window.RufflePlayer=window.RufflePlayer||{};window.RufflePlayer.config={"autoplay":"on","unmuteOverlay":"hidden","showSwfDownload":true};</script>\n<script type="text/javascript" src="https://web-static.archive.org/_static/js/ruffle/ruffle.js"></script>\n<script type="text/javascript">\n    __wm.init("http://web.archive.org/web");\n  __wm.wombat("https://en.wikipedia.org/wiki/DAX","20240401160228","http://web.archive.org/","web","https://web-static.archive.org/_static/",\n\t      "1711987348");\n</script>\n<link rel="stylesheet" type="text/css" href="https://web-static.archive.org/_static/css/banner-styles.css?v=1utQkbB3" />\n<link rel="'

In [4]:
response.text.count('<table')

10

# **2. Reading HTML-Doc**

In [5]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.text)

In [6]:
print(soup.prettify()[:1575])

<!DOCTYPE html>
<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-custom-font-size-clientpref-0 vector-feature-client-preferences-disabled vector-feature-client-prefs-pinned-disabled vector-feature-night-mode-disabled skin-theme-clientpref-day vector-toc-available" dir="ltr" lang="en">
 <head>
  <script charset="utf-8" src="https://web-static.archive.org/_static/js/bundle-playback.js?v=Hk4-lkW3" type="text/javascript">
  </script>
  <script charset="utf-8" src="https://web-static.archive.org/_static/js/wombat.js?v=txqj7nKC" type="text/javascript">
  </script>
  <script>
   window.RufflePlayer=window.RufflePlayer||{};window.RufflePlayer.config={"autoplay":"on","unmuteOverlay":"hidden","showSwfDownload":true};
  </script>
  <script src="https://web-static.archive.org/_static/js/ruffle/ruffle.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   __wm.init("http://web.archive.org/web");
  __wm.wombat("https://en.wikipedia.org/wiki/DAX","20240401160228","http://web.archive.org/","web","https://web-static.archive.org/_static/",
	      "1711987348");
  </script>
  <link href="https://web-static.archive.org/_static/css/banner-styles.css?v=1utQkbB3" rel="stylesheet" type="text/css"/>
  <link href="https://web-

In [7]:
tables = soup.find_all('table')
len(tables)

10

In [8]:
for table in tables:
    print(table.attrs)

{'class': ['infobox', 'vcard']}
{'class': ['wikitable']}
{'class': ['wikitable']}
{'class': ['wikitable', 'sortable', 'mw-collapsible', 'mw-collapsed'], 'style': 'text-align:right;'}
{'class': ['wikitable', 'sortable'], 'style': 'text-align: center; font-size: 100%;', 'id': 'constituents', 'cellspacing': '2', 'cellpadding': '2'}
{'class': ['box-More_citations_needed', 'plainlinks', 'metadata', 'ambox', 'ambox-content', 'ambox-Refimprove'], 'role': 'presentation'}
{'class': ['wikitable']}
{'class': ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'], 'style': 'border-spacing:0;background:transparent;color:inherit'}
{'class': ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'], 'style': 'border-spacing:0;background:transparent;color:inherit'}
{'class': ['nowraplinks', 'hlist', 'navbox-inner'], 'style': 'border-spacing:0;background:transparent;color:inherit'}

In [9]:
table = soup.find(id='constituents')

In [10]:
table.text

'\n\nLogo\nCompany\nPrime Standard Sector\nTicker\nIndex weighting (%)1\nEmployees\nFounded\n\n\n\nAdidas\nApparel\nADS.DE\n2.0\n061,401 (2021)\n1924\n\n\n\nAirbus\nAerospace & Defence\nAIR.DE\n6.0\n126.495 (2021)\n1970\n\n\n\nAllianz\nFinancial Services\nALV.DE\n7.1\n155,411 (2021)\n1890\n\n\n\nBASF\nChemicals\nBAS.DE\n3.5\n111,047 (2021)\n1865\n\n\n\nBayer\nPharmaceuticals\nBAYN.DE\n4.8\n099,637 (2021)\n1863\n\n\n\nBeiersdorf\nConsumer goods\nBEI.DE\n0.9\n020,567 (2021)\n1882\n\n\n\nBMW\nAutomotive\nBMW.DE\n2.5\n118,909 (2021)\n1916\n\n\n\nBrenntag\nDistribution\nBNR.DE\n0.9\n017,200 (2021)\n1874\n\n\n\nCommerzbank\nFinancial Services\nCBK.DE\n0.8\n040,181 (2021)\n1870\n\n\n\nContinental\nAutomotive\nCON.DE\n0.6\n190,875 (2021)\n1871\n\n\n\nCovestro\nChemicals\n1COV.DE\n0.6\n017,909 (2021)\n2015\n\n\n\nDaimler Truck\nAutomotive\nDTG.DE\n1.1\n099,849 (2021)\n2021\n\n\n\nDeutsche Bank\nFinancial Services\nDBK.DE\n1.6\n082,969 (2021)\n1870\n\n\n\nDeutsche Börse\nFinancial Services\nDB1.DE\n2.7\n010,200 (2021)\n1992\n\n\n\nDeutsche Post\nLogistics\nDHL.DE\n3.4\n592,263 (2021)\n1995\n\n\n\nDeutsche Telekom\nTelecommunication\nDTE.DE\n6.5\n216,528 (2021)\n1995\n\n\n\nE.ON\nUtilities\nEOAN.DE\n1.9\n078,126 (2021)\n2000\n\n\n\nFresenius\nHealthcare\nFRE.DE\n0.8\n316,078 (2021)\n1912\n\n\n\nHannover Re\nInsurance\nHNR1.DE\n0.8\n003,346 (2021)\n1966\n\n\n\nHeidelberg Materials\nConstruction Materials\nHEI.DE\n0.7\n051,209 (2021)\n1874\n\n\n\nHenkel\nConsumer Goods\nHEN3.DE\n0.9\n052,450 (2021)\n1876\n\n\n\nInfineon Technologies\nTechnology\nIFX.DE\n3.9\n050,280 (2021)\n1999\n\n\n\nMercedes-Benz Group\nAutomotive\nMBG.DE\n4.8\n172,000 (2021)\n1926\n\n\n\nMerck\nPharmaceuticals\nMRK.DE\n1.8\n008,081 (2021)\n1668\n\n\n\nMTU Aero Engines\nAerospace & Defence\nMTX.DE\n1.0\n010,833 (2022)\n1934\n\n\n\nMunich Re\nFinancial Services\nMUV2.DE\n3.6\n040,177 (2022)\n1880\n\n\n\nPorsche\nAutomotive\nP911.DE\n1.1\n036,996 (2021)\n1931\n\n\n\nPorsche SE\nAutomotive\nPAH3.DE\n0.6\n000,882 (2021)\n2007\n\n\n\nQiagen\nBiotech\nQIA.DE\n0.8\n005,900 (2021)\n1984\n\n\n\nRheinmetall\nAerospace & Defence\nRHM.DE\n\n025.486 (2022)\n1889\n\n\n\nRWE\nUtilities\nRWE.DE\n2.2\n018,246 (2021)\n1898\n\n\n\nSAP\nTechnology\nSAP.DE\n10.1\n107,415 (2021)\n1972\n\n\n\nSartorius\nMedical Technology\nSRT3.DE\n0.8\n018,832 (2021)\n1870\n\n\n\nSiemens\nIndustrials\nSIE.DE\n9.0\n303,000 (2021)\n1847\n\n\n\nSiemens Energy\nEnergy technology\nENR.DE\n0.7\n092,000 (2021)\n2020\n\n\n\nSiemens Healthineers\nMedical Equipment\nSHL.DE\n1.2\n066,000 (2021)\n2020\n\n\n\nSymrise\nChemicals\nSY1.DE\n1.1\n011,276 (2021)\n2003\n\n\n\nVolkswagen Group\nAutomotive\nVOW3.DE\n2.4\n672,800 (2021)\n1937\n\n\n\nVonovia\nReal Estate\nVNA.DE\n1.1\n015,900 (2022)\n2001\n\n\n\nZalando\nE-Commerce\nZAL.DE\n0.7\n017,000 (2021)\n2008\n'

In [11]:
table_list = []
for row in table.find_all('tr'):
    table_list.append(row.text.split('\n'))
print(table_list)

[['', 'Logo', 'Company', 'Prime Standard Sector', 'Ticker', 'Index weighting (%)1', 'Employees', 'Founded', ''], ['', '', 'Adidas', 'Apparel', 'ADS.DE', '2.0', '061,401 (2021)', '1924', ''], ['', '', 'Airbus', 'Aerospace & Defence', 'AIR.DE', '6.0', '126.495 (2021)', '1970', ''], ['', '', 'Allianz', 'Financial Services', 'ALV.DE', '7.1', '155,411 (2021)', '1890', ''], ['', '', 'BASF', 'Chemicals', 'BAS.DE', '3.5', '111,047 (2021)', '1865', ''], ['', '', 'Bayer', 'Pharmaceuticals', 'BAYN.DE', '4.8', '099,637 (2021)', '1863', ''], ['', '', 'Beiersdorf', 'Consumer goods', 'BEI.DE', '0.9', '020,567 (2021)', '1882', ''], ['', '', 'BMW', 'Automotive', 'BMW.DE', '2.5', '118,909 (2021)', '1916', ''], ['', '', 'Brenntag', 'Distribution', 'BNR.DE', '0.9', '017,200 (2021)', '1874', ''], ['', '', 'Commerzbank', 'Financial Services', 'CBK.DE', '0.8', '040,181 (2021)', '1870', ''], ['', '', 'Continental', 'Automotive', 'CON.DE', '0.6', '190,875 (2021)', '1871', ''], ['', '', 'Covestro', 'Chemicals', '1COV.DE', '0.6', '017,909 (2021)', '2015', ''], ['', '', 'Daimler Truck', 'Automotive', 'DTG.DE', '1.1', '099,849 (2021)', '2021', ''], ['', '', 'Deutsche Bank', 'Financial Services', 'DBK.DE', '1.6', '082,969 (2021)', '1870', ''], ['', '', 'Deutsche Börse', 'Financial Services', 'DB1.DE', '2.7', '010,200 (2021)', '1992', ''], ['', '', 'Deutsche Post', 'Logistics', 'DHL.DE', '3.4', '592,263 (2021)', '1995', ''], ['', '', 'Deutsche Telekom', 'Telecommunication', 'DTE.DE', '6.5', '216,528 (2021)', '1995', ''], ['', '', 'E.ON', 'Utilities', 'EOAN.DE', '1.9', '078,126 (2021)', '2000', ''], ['', '', 'Fresenius', 'Healthcare', 'FRE.DE', '0.8', '316,078 (2021)', '1912', ''], ['', '', 'Hannover Re', 'Insurance', 'HNR1.DE', '0.8', '003,346 (2021)', '1966', ''], ['', '', 'Heidelberg Materials', 'Construction Materials', 'HEI.DE', '0.7', '051,209 (2021)', '1874', ''], ['', '', 'Henkel', 'Consumer Goods', 'HEN3.DE', '0.9', '052,450 (2021)', '1876', ''], ['', '', 'Infineon Technologies', 'Technology', 'IFX.DE', '3.9', '050,280 (2021)', '1999', ''], ['', '', 'Mercedes-Benz Group', 'Automotive', 'MBG.DE', '4.8', '172,000 (2021)', '1926', ''], ['', '', 'Merck', 'Pharmaceuticals', 'MRK.DE', '1.8', '008,081 (2021)', '1668', ''], ['', '', 'MTU Aero Engines', 'Aerospace & Defence', 'MTX.DE', '1.0', '010,833 (2022)', '1934', ''], ['', '', 'Munich Re', 'Financial Services', 'MUV2.DE', '3.6', '040,177 (2022)', '1880', ''], ['', '', 'Porsche', 'Automotive', 'P911.DE', '1.1', '036,996 (2021)', '1931', ''], ['', '', 'Porsche SE', 'Automotive', 'PAH3.DE', '0.6', '000,882 (2021)', '2007', ''], ['', '', 'Qiagen', 'Biotech', 'QIA.DE', '0.8', '005,900 (2021)', '1984', ''], ['', '', 'Rheinmetall', 'Aerospace & Defence', 'RHM.DE', '', '025.486 (2022)', '1889', ''], ['', '', 'RWE', 'Utilities', 'RWE.DE', '2.2', '018,246 (2021)', '1898', ''], ['', '', 'SAP', 'Technology', 'SAP.DE', '10.1', '107,415 (2021)', '1972', ''], ['', '', 'Sartorius', 'Medical Technology', 'SRT3.DE', '0.8', '018,832 (2021)', '1870', ''], ['', '', 'Siemens', 'Industrials', 'SIE.DE', '9.0', '303,000 (2021)', '1847', ''], ['', '', 'Siemens Energy', 'Energy technology', 'ENR.DE', '0.7', '092,000 (2021)', '2020', ''], ['', '', 'Siemens Healthineers', 'Medical Equipment', 'SHL.DE', '1.2', '066,000 (2021)', '2020', ''], ['', '', 'Symrise', 'Chemicals', 'SY1.DE', '1.1', '011,276 (2021)', '2003', ''], ['', '', 'Volkswagen Group', 'Automotive', 'VOW3.DE', '2.4', '672,800 (2021)', '1937', ''], ['', '', 'Vonovia', 'Real Estate', 'VNA.DE', '1.1', '015,900 (2022)', '2001', ''], ['', '', 'Zalando', 'E-Commerce', 'ZAL.DE', '0.7', '017,000 (2021)', '2008', '']]

In [12]:
for row in table_list:
    print(len(row))

9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9
9

In [13]:
import pandas as pd
df_dax = pd.DataFrame(table_list[1:], columns=table_list[0])
print(df_dax.shape)
df_dax.head()

(40, 9)

,,Logo,Company,Prime Standard Sector,Ticker,Index weighting (%)1,Employees,Founded,
0,,,Adidas,Apparel,ADS.DE,2.0,"061,401 (2021)",1924,
1,,,Airbus,Aerospace & Defence,AIR.DE,6.0,126.495 (2021),1970,
2,,,Allianz,Financial Services,ALV.DE,7.1,"155,411 (2021)",1890,
3,,,BASF,Chemicals,BAS.DE,3.5,"111,047 (2021)",1865,
4,,,Bayer,Pharmaceuticals,BAYN.DE,4.8,"099,637 (2021)",1863,

In [14]:
df_dax = df_dax.drop('', axis=1)
df_dax.head()

,Logo,Company,Prime Standard Sector,Ticker,Index weighting (%)1,Employees,Founded
0,,Adidas,Apparel,ADS.DE,2.0,"061,401 (2021)",1924
1,,Airbus,Aerospace & Defence,AIR.DE,6.0,126.495 (2021),1970
2,,Allianz,Financial Services,ALV.DE,7.1,"155,411 (2021)",1890
3,,BASF,Chemicals,BAS.DE,3.5,"111,047 (2021)",1865
4,,Bayer,Pharmaceuticals,BAYN.DE,4.8,"099,637 (2021)",1863

In [15]:
df_dax.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Logo                   40 non-null     object
 1   Company                40 non-null     object
 2   Prime Standard Sector  40 non-null     object
 3   Ticker                 40 non-null     object
 4   Index weighting (%)1   40 non-null     object
 5   Employees              40 non-null     object
 6   Founded                40 non-null     object
dtypes: object(7)
memory usage: 2.3+ KB

In [16]:
df_dax.loc[:, 'Employees'] = df_dax.loc[:, 'Employees'].str.replace(r'\(\d\d\d\d\)', '', regex=True)

In [17]:
df_dax.loc[:, 'Index weighting (%)1'] = pd.to_numeric(df_dax.loc[:, 'Index weighting (%)1'], errors='coerce')
df_dax.loc[:, 'Employees'] = pd.to_numeric(df_dax.loc[:, 'Employees'].str.replace(',', ''))
df_dax.loc[:, 'Founded'] = pd.to_numeric(df_dax.loc[:, 'Founded'])

In [18]:
df_dax.dtypes

Logo                     object
Company                  object
Prime Standard Sector    object
Ticker                   object
Index weighting (%)1     object
Employees                object
Founded                  object
dtype: object

In [19]:
#df_dax.to_pickle('dax_data.p')

# **3. Short-Cut**

In [20]:
dfs = pd.read_html(website_url,
                   attrs={'id': 'constituents'})
dfs[0].head()

,Logo,Company,Prime Standard Sector,Ticker,Index weighting (%)1,Employees,Founded
0,NaN,Adidas,Apparel,ADS.DE,2.0,"061,401 (2021)",1924
1,NaN,Airbus,Aerospace & Defence,AIR.DE,6.0,126.495 (2021),1970
2,NaN,Allianz,Financial Services,ALV.DE,7.1,"155,411 (2021)",1890
3,NaN,BASF,Chemicals,BAS.DE,3.5,"111,047 (2021)",1865
4,NaN,Bayer,Pharmaceuticals,BAYN.DE,4.8,"099,637 (2021)",1863