# **1. Retrieving data from multiple Webpages**

In [3]:
# connect to the website
import requests
website_url = 'http://web.archive.org/web/20240401160228/https://en.wikipedia.org/wiki/DAX'
response = requests.get(website_url)  # get content of website
response.raise_for_status()  # give error if request failed

# get the table
from bs4 import BeautifulSoup  # import parser
soup = BeautifulSoup(response.text) # parse website
table = soup.find(id='constituents')  # select the table using the id

In [4]:
for link in table.find_all('a'):
    print(link.attrs)

{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Prime_Standard', 'title': 'Prime Standard'}
{'href': '#endnote_1'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Adidas-group-logo-fr.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Adidas', 'title': 'Adidas'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=ADS.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Airbus_Logo_2017.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Airbus', 'title': 'Airbus'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=AIR.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Allianz.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Allianz', 'title': 'Allianz'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=ALV.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:BASF-Logo_bw.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/BASF', 'title': 'BASF'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=BAS.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Logo_Bayer.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Bayer', 'title': 'Bayer'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=BAYN.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Beiersdorf_Logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Beiersdorf', 'title': 'Beiersdorf'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=BEI.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:BMW_logo_(gray).svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/BMW', 'title': 'BMW'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=BMW.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Brenntag_Logo_2022.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Brenntag', 'title': 'Brenntag'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=BNR.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Commerzbank_(2009).svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Commerzbank', 'title': 'Commerzbank'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=CBK.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Continental_wordmark.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Continental_AG', 'title': 'Continental AG'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=CON.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Covestro_Logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Covestro', 'title': 'Covestro'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=1COV.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Daimler_Truck_Logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Daimler_Truck', 'title': 'Daimler Truck'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=DTG.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Deutsche_Bank_logo_without_wordmark.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Deutsche_Bank', 'title': 'Deutsche Bank'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=DBK.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Deutsche_B%C3%B6rse', 'title': 'Deutsche Börse'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=DB1.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Deutsche_Post_DHL.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Deutsche_Post', 'title': 'Deutsche Post'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=DHL.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Deutsche_Telekom_2022.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Deutsche_Telekom', 'title': 'Deutsche Telekom'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=DTE.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Logo_E.ON.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/E.ON', 'title': 'E.ON'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=EOAN.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Fresenius.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Fresenius_SE', 'class': ['mw-redirect'], 'title': 'Fresenius SE'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=FRE.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:HannoverRe.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Hannover_Re', 'title': 'Hannover Re'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=HNR1.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:HeidelbergCement_2022_logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/HeidelbergCement', 'class': ['mw-redirect'], 'title': 'HeidelbergCement'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=HEI.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Henkel-Logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Henkel', 'title': 'Henkel'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=HEN3.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Infineon-Logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Infineon_Technologies', 'title': 'Infineon Technologies'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=IFX.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Mercedes-Benz_Group_black.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Mercedes-Benz_Group', 'title': 'Mercedes-Benz Group'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=MBG.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Logo_Merck_KGaA_2015.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Merck_Group', 'title': 'Merck Group'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=MRK.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:MTU_Aero_Engines_Logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/MTU_Aero_Engines', 'title': 'MTU Aero Engines'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=MTX.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:M%C3%BCnchener_R%C3%BCck_logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Munich_Re', 'title': 'Munich Re'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=MUV2.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Porsche', 'title': 'Porsche'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=P911.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Porsche_SE_Logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Porsche_SE', 'title': 'Porsche SE'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=PAH3.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Qiagen.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Qiagen', 'title': 'Qiagen'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=QIA.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Rheinmetall_Logo_2021.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Rheinmetall', 'title': 'Rheinmetall'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=RHM.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:RWE_Logo_2020.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/RWE', 'title': 'RWE'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=RWE.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:SAP_2011_logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/SAP', 'title': 'SAP'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=SAP.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Sartorius-Logo-2020.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Sartorius_AG', 'title': 'Sartorius AG'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=SRT3.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Siemens_AG_logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Siemens', 'title': 'Siemens'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=SIE.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Siemens_Energy_logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Siemens_Energy_AG', 'class': ['mw-redirect'], 'title': 'Siemens Energy AG'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=ENR.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Siemens_Healthineers_logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Siemens_Healthineers', 'title': 'Siemens Healthineers'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=SHL.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Symrise_Logo_2016.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Symrise', 'title': 'Symrise'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=SY1.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Volkswagen_Group.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Volkswagen_Group', 'title': 'Volkswagen Group'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=VOW3.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Vonovia_Logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Vonovia', 'title': 'Vonovia'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=VNA.DE'}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/File:Zalando_201x_logo.svg', 'class': ['mw-file-description']}
{'href': '/web/20240401160228/https://en.wikipedia.org/wiki/Zalando', 'title': 'Zalando'}
{'rel': ['nofollow'], 'class': ['external', 'text'], 'href': 'http://web.archive.org/web/20240401160228/http://www.boerse-frankfurt.de/en/equities/search/result?name_isin_wkn=ZAL.DE'}

In [5]:
links_wiki = [link.attrs['href'] for link in table.find_all('a') if not 'class' in link.attrs]
links_wiki[:5]

['/web/20240401160228/https://en.wikipedia.org/wiki/Prime_Standard',
 '#endnote_1',
 '/web/20240401160228/https://en.wikipedia.org/wiki/Adidas',
 '/web/20240401160228/https://en.wikipedia.org/wiki/Airbus',
 '/web/20240401160228/https://en.wikipedia.org/wiki/Allianz']

In [6]:
links_wiki.remove('/web/20240401160228/https://en.wikipedia.org/wiki/Prime_Standard')
links_wiki.remove('#endnote_1')
links_wiki[:5]

['/web/20240401160228/https://en.wikipedia.org/wiki/Adidas',
 '/web/20240401160228/https://en.wikipedia.org/wiki/Airbus',
 '/web/20240401160228/https://en.wikipedia.org/wiki/Allianz',
 '/web/20240401160228/https://en.wikipedia.org/wiki/BASF',
 '/web/20240401160228/https://en.wikipedia.org/wiki/Bayer']

In [7]:
base_url = 'https://web.archive.org'
link = links_wiki[0]

response = requests.get(base_url+link)
response.raise_for_status()

In [ ]:
import pandas as pd
df_table = pd.read_html(response.text, attrs={'class':'infobox vcard'})[0]
df_table

In [9]:
df_table = df_table.loc[~df_table[0].isna(),:]
df_table = df_table.iloc[:, :2]
df_table

,0,1
1,"Factory outlet in Herzogenaurach, Germany","Factory outlet in Herzogenaurach, Germany"
2,Formerly,Gebrüder Dassler Schuhfabrik (1924–1949)
3,Company type,Public (AG)
4,Traded as,FWB: ADS DAX component
5,Industry,"Textile, footwear"
6,Founded,"July 1924; 99 years ago in Herzogenaurach, Ger..."
7,Founder,Adolf Dassler
8,Headquarters,"Herzogenaurach, Bavaria, Germany"
9,Area served,Worldwide
10,Key people,Thomas Rabe (chairman)[2] Bjørn Gulden (CEO)
11,Products,"Apparel, footwear, sportswear, sports equipmen..."
12,Revenue,€21.915 billion (2018)[3]
13,Operating income,€2.368 billion (2018)[3]
14,Net income,€1.702 billion (2018)[3]
15,Total assets,€15.612 billion (2018)[3]
16,Total equity,€6.364 billion (2018)[3]
17,Number of employees,"57,016 (2018)[3]"
18,Subsidiaries,Adidas RuntasticMatix
19,Website,adidas.com

In [10]:
# extract company name from link
company_name = link.split('/')[-1]
company_name

'Adidas'

In [11]:
df_table.columns=['key',company_name]
df_table = df_table.set_index('key')
df_table

                                                                                      Adidas
key
Factory outlet in Herzogenaurach, Germany          Factory outlet in Herzogenaurach, Germany
Formerly                                            Gebrüder Dassler Schuhfabrik (1924–1949)
Company type                                                                     Public (AG)
Traded as                                                             FWB: ADS DAX component
Industry                                                                   Textile, footwear
Founded                                    July 1924; 99 years ago in Herzogenaurach, Ger...
Founder                                                                        Adolf Dassler
Headquarters                                                Herzogenaurach, Bavaria, Germany
Area served                                                                        Worldwide
Key people                                      Thomas Rabe (chairman)[2] Bjørn Gulden (CEO)
Products                                   Apparel, footwear, sportswear, sports equipmen...
Revenue                                                            €21.915 billion (2018)[3]
Operating income                                                    €2.368 billion (2018)[3]
Net income                                                          €1.702 billion (2018)[3]
Total assets                                                       €15.612 billion (2018)[3]
Total equity                                                        €6.364 billion (2018)[3]
Number of employees                                                         57,016 (2018)[3]
Subsidiaries                                                           Adidas RuntasticMatix
Website                                                                           adidas.com

In [12]:
import time 
time.sleep(5)
print('5 seconds passed')

5 seconds passed

In [13]:
response.elapsed.total_seconds()

5.140578

In [14]:
def load_link(link, base_url='https://web.archive.org'):
    """Extracts information in table with class 'infobox vcard' from an archived Wikipedia link. 
    Returns a single column DataFrame with basic company information.
  
    Args:
        link (str): Subpage of archived Wikipedia.
        base_url (str): Wikipedia main page defaults to 'https://web.archive.org'.
 
    Returns:
        DataFrame: Shape (x,1) with column name [company_name] and keys as index.
    """
    #connect to page
    response = requests.get(base_url+link)
    
    #raise error if no connection
    response.raise_for_status()
    
    #extact table
    df_table = pd.read_html(response.text,attrs={'class':'infobox vcard'})[0]
    
    #clean table
    df_table = df_table.loc[~df_table[0].isna()]
    df_table = df_table.iloc[:, :2]
    company_name = link.split('/')[-1]
    df_table.columns=['key',company_name]
    df_table = df_table.set_index('key')
    
    #add delay
    time.sleep(response.elapsed.total_seconds()*5)
    
    #remove duplicated values
    df_table = df_table.loc[~df_table.index.duplicated(keep='last')]
    
    return df_table

In [ ]:
(load_link(links_wiki[0]) != df_table).sum()

In [ ]:
company_dfs = []
for link in links_wiki:
    print(link)
    df = load_link(link)
    company_dfs.append(df)

In [17]:
df_company = pd.concat(company_dfs, axis=1)
df_company.head()

,Adidas,Airbus,Allianz,BASF,Bayer,Beiersdorf,BMW,Brenntag,Commerzbank,Continental_AG,...,Rheinmetall,RWE,SAP,Sartorius_AG,Siemens,Siemens_Healthineers,Symrise,Volkswagen_Group,Vonovia,Zalando
key,,,,,,,,,,,,,,,,,,,,,
"Factory outlet in Herzogenaurach, Germany","Factory outlet in Herzogenaurach, Germany",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Formerly,Gebrüder Dassler Schuhfabrik (1924–1949),Parent company: European Aeronautic Defence an...,NaN,NaN,NaN,NaN,Rapp Moterenwerke AG,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deutsche Annington,NaN
Company type,Public (AG),Public (Societas Europaea),Public (SE),Public (Societas Europaea),Public,Public (AG),Public (Aktiengesellschaft),Public (Societas Europaea),NaN,Aktiengesellschaft,...,Public (Aktiengesellschaft),Aktiengesellschaft,Public (Societas Europaea),Aktiengesellschaft,Public (Aktiengesellschaft),Public (Aktiengesellschaft),Aktiengesellschaft,Public (AG),NaN,Societas Europaea
Traded as,FWB: ADS DAX component,BMAD: AIR Euronext Paris: AIR FWB: AIR CAC 40 ...,FWB: ALVDAX component,FWB: BASDAX component,FWB: BAYNDAX componentEuro Stoxx 50 component,FWB: BEI DAX Component,FWB: BMW DAX component,FWB: BNR FWB: BNRA (ADR) OTC Pink Current: BNT...,FWB: CBK DAX Component LSE: CZB,FWB: CON DAX Component,...,FWB: RHMFWB: RHMB (ADR)OTC Pink Current: RNMBF...,FWB: RWE FWB: RWEA (ADR) DAX component (RWE),FWB: SAPFWB: SAPA (ADR)OTC Pink Current: SAPGF...,FWB: SRTFWB: SRT3FWB: SRT0 (ADR)FWB: SRT4 (ADR...,FWB: SIEDAX component,FWB: SHL DAX component,FWB: SY1 FWB: SY1U (ADR) OTC Pink Current: SYI...,"FWB: VOW, VOW3 DAX component (VOW3)",FWB: VNA DAX Component,FWB: ZAL DAX Component
Industry,"Textile, footwear","Aerospace, Defence",Financial services,Chemicals,Pharmaceuticals Chemicals Biotechnology Health...,Consumer goods,Automotive,Distribution,Financial services,Automotive Manufacturing,...,Defence,Electricity generation,Enterprise softwareBusiness softwareCloud comp...,Pharmaceutical and Laboratory Equipment,Conglomerate,Healthcare,Chemicals,Manufacturing,Real estate,E-commerce

In [18]:
df_company = df_company.T
df_company.head()

key,"Factory outlet in Herzogenaurach, Germany",Formerly,Company type,Traded as,Industry,Founded,Founder,Headquarters,Area served,Key people,...,Native name,Headquarters in Stuttgart,"Porsche headquarters in Stuttgart, Germany",Footnotes / references [1][2],Logo since 2011,"Headquarters in Wolfsburg, Germany",Headquarters of Vonovia,Areas served,Footnotes / references Annual Report 2020,Headquarters in Berlin
Adidas,"Factory outlet in Herzogenaurach, Germany",Gebrüder Dassler Schuhfabrik (1924–1949),Public (AG),FWB: ADS DAX component,"Textile, footwear","July 1924; 99 years ago in Herzogenaurach, Ger...",Adolf Dassler,"Herzogenaurach, Bavaria, Germany",Worldwide,Thomas Rabe (chairman)[2] Bjørn Gulden (CEO),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Airbus,NaN,Parent company: European Aeronautic Defence an...,Public (Societas Europaea),BMAD: AIR Euronext Paris: AIR FWB: AIR CAC 40 ...,"Aerospace, Defence",18 December 1970; 53 years ago,NaN,"Blagnac (n. Toulouse), France (operational) Le...",Worldwide,Guillaume Faury (CEO) René Obermann (Chairman),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Allianz,NaN,NaN,Public (SE),FWB: ALVDAX component,Financial services,05 February 1890; 134 years ago,NaN,"Munich, Germany",Worldwide,Oliver Bäte (CEO)Giulio Terzariol (CFO)Ishara ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BASF,NaN,NaN,Public (Societas Europaea),FWB: BASDAX component,Chemicals,6 April 1865; 158 years ago (as Badische Anili...,Friedrich Engelhorn,"Ludwigshafen, Germany",NaN,Jürgen Hambrecht (chairman of the supervisory ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bayer,NaN,NaN,Public,FWB: BAYNDAX componentEuro Stoxx 50 component,Pharmaceuticals Chemicals Biotechnology Health...,1 August 1863; 160 years ago[1],Friedrich Bayer,"Leverkusen, North Rhine-Westphalia, Germany",Worldwide,Bill Anderson (CEO) Norbert Winkeljohann (Chai...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_company.isna().sum()

key
Factory outlet in Herzogenaurach, Germany    36
Formerly                                     31
Company type                                  3
Traded as                                     1
Industry                                      1
                                             ..
Headquarters in Wolfsburg, Germany           36
Headquarters of Vonovia                      36
Areas served                                 36
Footnotes / references Annual Report 2020    36
Headquarters in Berlin                       36
Length: 77, dtype: int64

In [20]:
cols = ['Revenue', 'Operating income', 'Net income', 'Total assets', 'Total equity']
df_company.loc[:,cols]

key,Revenue,Operating income,Net income,Total assets,Total equity
Adidas,€21.915 billion (2018)[3],€2.368 billion (2018)[3],€1.702 billion (2018)[3],€15.612 billion (2018)[3],€6.364 billion (2018)[3]
Airbus,€65.45 billion (2023),€4.60 billion (2023),€3.79 billion (2023),€118.87 billion (2023),€17.73 billion (2023)
Allianz,€152.7 billion (2022),€14.16 billion (2022),€7.18 billion (2022),€1.02 trillion (2022),€51.0 billion (2022)
BASF,€87.3 billion (2022)[1],€6.55 billion (2022)[1],€−627 million (2022)[1],€84.5 billion (2022)[1],€40.9 billion (2022)[1]
Bayer,€50.74 billion (2023)[2],€7.01 billion (2022)[2],€4.15 billion (2022)[2],€124.9 billion (2022)[2],€38.93 billion (2022)[2]
Beiersdorf,€7.653 billion (2019)[1],€1.095 billion (2019)[1],€736 million (2019)[1],€9.63 billion (2019)[2],NaN
BMW,€142.610 billion (2022)[1],€23.509 billion (2022)[1],€18.582 billion (2022)[1],€246.926 billion (2022)[1],€91.288 billion (2022)[1]
Brenntag,19.4 billion EUR (2022)[1],NaN,NaN,NaN,NaN
Commerzbank,€8.57 billion (2018),€1.245 billion (2018),€865 million (2018),€462 billion (2018),€29 billion (2018)
Continental_AG,"€41,030 million (2022)",€754.8 million (2022),€66.6 million (2022),"€37,926.7 million (2022)","€13,735.0 million (2022)"
Covestro,€18.0 billion (2022)[1],€0.3 billion (2022)[1],€-0.3 billion (2022)[1],€14.6 billion (2022)[1],€7.1 billion (2022)[1]
Daimler_Truck,€50.9 billion (2022),NaN,NaN,NaN,NaN
Deutsche_Bank,€28.9 billion (2023)[2],€5.7 billion (2023)[2],€4.9 billion (2023)[2],€1.31 trillion (2023)[2],€64 billion (2023)[2]
Deutsche_B%C3%B6rse,€4.34 billion (2022)[2],€2.17 billion (2022)[2],€1.49 billion (2022)[2],€269.1 billion (2022)[2],€9.06 billion (2022)[2]
Deutsche_Post,NaN,NaN,NaN,NaN,NaN
Deutsche_Telekom,"€114,4 billion (2022)[1]",€16.2 billion (2022)[1],€4.5 billion (2022)[1],€298.6 billion (2022)[1],€87.3 billion (2022)[1]
E.ON,€115.66 billion (2022)[1],€2.242 billion (2022)[1],€2.728 billion (2022)[1],€134.009 billion (2022)[1],€21.867 billion (2022)[1]
Hannover_Re,"€ 33.3 billion (Gross written premium, 2022)[1]",NaN,NaN,NaN,NaN
Henkel,€21.514 billion (2023)[1],€2.011 billion (2023) [1],€1.340 billion (2023)[1],€17.965 billion (2023) [1],€6.624 billion (2023) [1]
Infineon_Technologies,€16.309 billion (2023),€3.948 billion (2023),€3.137 billion (2023),€28.439 billion (2023),€17.044 billion (2023)
Mercedes-Benz_Group,€133.9 billion (2021)[1],€16.0 billion (2021)[1],€23.4 billion (2021)[1],€258.8 billion (2021)[1],€73.2 billion (2021)[1]
Merck_Group,€20.99 billion (2023),€3.609 billion (2023),€2.834 billion (2023),€48.49 billion (2023),€26.68 billion (2023)
MTU_Aero_Engines,€4.628 billion (2019)[1],€706 million (2019)[1],€488 million (2019)[1],€7.765 billion (31 December 2019)[1],€2.421 billion (31 December 2019)[1]
Munich_Re,€67.1 billion (2022)[3],€3.58 billion (2022)[4],€3.41 billion (2022)[5],€298.5 billion (2022)[6],€21.2 billion (2022)[7]
Porsche,€37.630 billion (2022)[2],€6.770 billion (2022)[2],€4.957 billion (2022)[2],€47.673 billion (2022)[2],€17.027 billion (2022)[2]
Porsche_SE,NaN,NaN,€824 million (2021)[3],€42.533 billion (2021)[3],€42.196 billion (2021)[3]
Qiagen,US$1.97 billion (2023),US$410 million (2023),US$341 million (2023),US$6.12 billion (2023),US$3.81 billion (2023)
Rheinmetall,€6.410 billion (2022)[1],€754 million (2022)[1],€535 million (2022)[1],€8.089 billion (end 2022)[1],€3.083 billion (end 2022)[1]
RWE,€13.125 billion (2019)[1],€1.267 billion (2019)[1],€1.210 billion (2019)[1],€39.846 billion (2019)[1],€5.738 billion (2019)[1]
SAP,€31.207 billion (2023),€5.785 billion (2023),€5.928 billion (2023),€68.291 billion (2023),€43.365 billion (2023)
Sartorius_AG,€4.17 billion (2022)[1],NaN,NaN,NaN,NaN
Siemens,€77.769 billion (2023)[2],€11.201 billion (2023)[2],€8.529 billion (2023)[2],€145.067 billion (2023)[2],€53.060 billion (2023)[2]
Siemens_Healthineers,€21.7 billion (2022)[1],€2.927 billion (2022)[1],€2.054 billion (2022)[1],€33.614 billion (2022)[1],€19.852 billion (2022)[1]
Symrise,€4.62 billion (2022)[1],€618 million (2022)[1],€280 million (2022)[1],€7.78 billion (2022)[1],€3.61 billion (2022)[1]
Volkswagen_Group,€322.2840 billion (2023),€21.586 billion (2023),€16.013 billion (2023),€630.826 billion (2023),€174.757 billion (2023)
Vonovia,€4.400 billion (2020),NaN,"€1,909.8 million (2020)","€58,910.7 million (2020)","€21,069.7 million (2019)"
Zalando,€10.3 billion (2022)[1],€81.0 million (2022)[2],€16.8 million (2022)[3],€7.626 billion (2022)[4],€2.199 billion (2022)[5]

In [21]:
# df_company.to_pickle('company_data.p')

In [22]:
df_company = df_company.loc[:, ['Operating income', 'Net income', 'Revenue', 'Total assets', 'Total equity']]
df_company.head()

key,Operating income,Net income,Revenue,Total assets,Total equity
Adidas,€2.368 billion (2018)[3],€1.702 billion (2018)[3],€21.915 billion (2018)[3],€15.612 billion (2018)[3],€6.364 billion (2018)[3]
Airbus,€4.60 billion (2023),€3.79 billion (2023),€65.45 billion (2023),€118.87 billion (2023),€17.73 billion (2023)
Allianz,€14.16 billion (2022),€7.18 billion (2022),€152.7 billion (2022),€1.02 trillion (2022),€51.0 billion (2022)
BASF,€6.55 billion (2022)[1],€−627 million (2022)[1],€87.3 billion (2022)[1],€84.5 billion (2022)[1],€40.9 billion (2022)[1]
Bayer,€7.01 billion (2022)[2],€4.15 billion (2022)[2],€50.74 billion (2023)[2],€124.9 billion (2022)[2],€38.93 billion (2022)[2]

In [23]:
df_company.loc[:, 'Total assets year'] = df_company.loc[:, 'Total assets'].str.extract(r'(\d{4})', expand=False)
df_company.loc[:, 'Total assets year']

Adidas                   2018
Airbus                   2023
Allianz                  2022
BASF                     2022
Bayer                    2022
Beiersdorf               2019
BMW                      2022
Brenntag                  NaN
Commerzbank              2018
Continental_AG           2022
Covestro                 2022
Daimler_Truck             NaN
Deutsche_Bank            2023
Deutsche_B%C3%B6rse      2022
Deutsche_Post             NaN
Deutsche_Telekom         2022
E.ON                     2022
Hannover_Re               NaN
Henkel                   2023
Infineon_Technologies    2023
Mercedes-Benz_Group      2021
Merck_Group              2023
MTU_Aero_Engines         2019
Munich_Re                2022
Porsche                  2022
Porsche_SE               2021
Qiagen                   2023
Rheinmetall              2022
RWE                      2019
SAP                      2023
Sartorius_AG              NaN
Siemens                  2023
Siemens_Healthineers     2022
Symrise                  2022
Volkswagen_Group         2023
Vonovia                  2020
Zalando                  2022
Name: Total assets year, dtype: object

In [24]:
df_company.loc[:, 'Total assets value'] = df_company.loc[:, 'Total assets'].str.extract(r'([\d.,]+\s?[a-zA-Z]+)', expand=False)
df_company.loc[:, 'Total assets value']

Adidas                     15.612 billion
Airbus                     118.87 billion
Allianz                     1.02 trillion
BASF                         84.5 billion
Bayer                       124.9 billion
Beiersdorf                   9.63 billion
BMW                       246.926 billion
Brenntag                              NaN
Commerzbank                   462 billion
Continental_AG           37,926.7 million
Covestro                     14.6 billion
Daimler_Truck                         NaN
Deutsche_Bank               1.31 trillion
Deutsche_B%C3%B6rse         269.1 billion
Deutsche_Post                         NaN
Deutsche_Telekom            298.6 billion
E.ON                      134.009 billion
Hannover_Re                           NaN
Henkel                     17.965 billion
Infineon_Technologies      28.439 billion
Mercedes-Benz_Group         258.8 billion
Merck_Group                 48.49 billion
MTU_Aero_Engines            7.765 billion
Munich_Re                   298.5 billion
Porsche                    47.673 billion
Porsche_SE                 42.533 billion
Qiagen                       6.12 billion
Rheinmetall                 8.089 billion
RWE                        39.846 billion
SAP                        68.291 billion
Sartorius_AG                          NaN
Siemens                   145.067 billion
Siemens_Healthineers       33.614 billion
Symrise                      7.78 billion
Volkswagen_Group          630.826 billion
Vonovia                  58,910.7 million
Zalando                     7.626 billion
Name: Total assets value, dtype: object

In [ ]:
df_company.loc[:,'Total assets value'] = df_company.loc[:,'Total assets value'].str.replace('\strillion','e12', regex=True)  # replace trillion with e12
df_company.loc[:,'Total assets value'] = df_company.loc[:,'Total assets value'].str.replace('\sbillion','e9', regex=True)  # replace billion with e9
df_company.loc[:,'Total assets value'] = df_company.loc[:,'Total assets value'].str.replace('\smillion','e6', regex=True)  # replace million with e6
df_company.loc[:,'Total assets value'] = df_company.loc[:,'Total assets value'].str.replace(',','', regex=True)  # deleting , due to english thousands separator notation
df_company.loc[:,'Total assets value'] = df_company.loc[:,'Total assets value'].astype(float)  # convert to float
df_company.loc[:,'Total assets value']

In [26]:
mask_dollar = df_company.loc[:, 'Total assets'].str.strip().str.startswith('US$', na=False)
mask_dollar

Adidas                   False
Airbus                   False
Allianz                  False
BASF                     False
Bayer                    False
Beiersdorf               False
BMW                      False
Brenntag                 False
Commerzbank              False
Continental_AG           False
Covestro                 False
Daimler_Truck            False
Deutsche_Bank            False
Deutsche_B%C3%B6rse      False
Deutsche_Post            False
Deutsche_Telekom         False
E.ON                     False
Hannover_Re              False
Henkel                   False
Infineon_Technologies    False
Mercedes-Benz_Group      False
Merck_Group              False
MTU_Aero_Engines         False
Munich_Re                False
Porsche                  False
Porsche_SE               False
Qiagen                    True
Rheinmetall              False
RWE                      False
SAP                      False
Sartorius_AG             False
Siemens                  False
Siemens_Healthineers     False
Symrise                  False
Volkswagen_Group         False
Vonovia                  False
Zalando                  False
Name: Total assets, dtype: bool

In [27]:
df_company.loc[mask_dollar, 'Total assets value'] = df_company.loc[mask_dollar, 'Total assets value'] * 0.95
df_company.loc[mask_dollar, 'Total assets value']

Qiagen    5814000000.0
Name: Total assets value, dtype: object

In [ ]:
for col in ['Operating income', 'Net income', 'Revenue', 'Total equity']:  # repeat for all columns with financial data
    print(col)
    df_company.loc[:, col+' year'] = df_company.loc[:, col].str.extract(r'(\d{4})', expand=False)  # extract the year
    df_company.loc[:, col+' value'] = df_company.loc[:, col].str.extract(r'([\d.,]+\s?[a-zA-Z]+)', expand =False)  # extract the value
    
    df_company.loc[:, col+' value'] = df_company.loc[:, col+' value'].str.replace('\strillion','e12', regex=True)  # replace trillion with e12
    df_company.loc[:, col+' value'] = df_company.loc[:, col+' value'].str.replace('\sbillion','e9', regex=True)  # replace billion with e9
    df_company.loc[:, col+' value'] = df_company.loc[:, col+' value'].str.replace('\smillion','e6', regex=True)  # replace million with e6
    df_company.loc[:, col+' value'] = df_company.loc[:, col+' value'].str.replace('\sMio', 'e6', regex=True) # replace Mio with e6
    df_company.loc[:, col+' value'] = df_company.loc[:, col+' value'].str.replace('M','e6', regex=True)  # replace M with e6
    df_company.loc[:, col+' value'] = df_company.loc[:, col+' value'].str.replace('B','e9', regex=True)  # replace B with e9
    df_company.loc[:, col+' value'] = df_company.loc[:, col+' value'].str.replace('\seuro','', regex=True)  # replace , with .
    df_company.loc[:, col+' value'] = df_company.loc[:, col+' value'].str.replace(',','', regex=True)  # replace , with .
    df_company.loc[:, col+' value'] = df_company.loc[:, col+' value'].astype(float)  # convert to float
    
    mask_dollar = df_company.loc[:, col].str.strip().str.startswith('US$', na=False)  # create mask to select the $-values
    df_company.loc[mask_dollar, col+' value'] = df_company.loc[mask_dollar, col+' value'] * 0.95  # calculate the €-values fromt the $-values

In [29]:
df_company = df_company.drop(['Operating income', 'Net income', 'Revenue', 'Total assets', 'Total equity'], axis=1)
df_company.head()

key,Total assets year,Total assets value,Operating income year,Operating income value,Net income year,Net income value,Revenue year,Revenue value,Total equity year,Total equity value
Adidas,2018,15612000000.0,2018,2368000000.0,2018,1702000000.0,2018,21915000000.0,2018,6364000000.0
Airbus,2023,118870000000.0,2023,4600000000.0,2023,3790000000.0,2023,65450000000.0,2023,17730000000.0
Allianz,2022,1020000000000.0,2022,14160000000.0,2022,7180000000.0,2022,152700000000.0,2022,51000000000.0
BASF,2022,84500000000.0,2022,6550000000.0,2022,627000000.0,2022,87300000000.0,2022,40900000000.0
Bayer,2022,124900000000.0,2022,7010000000.0,2022,4150000000.0,2023,50740000000.0,2022,38930000000.0

In [ ]:
# df_company.to_pickle('dax_financial_data.p')